[run]
branch = True
concurrency = multiprocessing

source =
    tests
    prisma

omit =
    *.py.jinja
    prisma/partial_types.py
    # generated code
    */prisma/types.py
    */prisma/enums.py
    */prisma/client.py
    */prisma/models.py
    */prisma/partials.py
    # we still want to include these
    # */prisma/builder.py
    # */prisma/engine/query.py


[report]
exclude_lines =
    pragma: no cover
    mark: filedef
    @pytest.mark.skip\(?
    if TYPE_CHECKING
    \.\.\.

[paths]
# https://coverage.readthedocs.io/en/6.4.4/config.html#paths
prisma =
    src/prisma
    */**/prisma

[html]
show_contexts = True

[json]
show_contexts = True
