[DESIGN]
max-locals = 20
max-branches = 20


[MESSAGES CONTROL]
disable =
  fixme,
  try-except-raise,
  missing-docstring,
  too-few-public-methods


[MASTER]
extension-pkg-whitelist =
  pydantic,


[TYPECHECK]
generated-members =
  py.path


[BASIC]
good-names =
  i,
  j,
  db,
  dt,
  fd,
  to,


[VARIABLES]
callbacks =
  cb_,
  _cb,
  pytest_,
  plugin,
  _hook,
  handler


[SIMILARITIES]
ignore-imports = yes
min-similarity-lines = 6


[REPORTS]
output-format = colorized
