[MESSAGES CONTROL]
disable =
  fixme,
  try-except-raise,
  missing-docstring,
  too-few-public-methods


[MASTER]
extension-pkg-whitelist =
  pydantic


[BASIC]
good-names =
  db,
  dt,
  fd,
  to,


[VARIABLES]
callbacks =
  cb_,
  _cb,
  pytest_


[REPORTS]
output-format = colorized
