[DESIGN]
max-locals = 20
max-branches = 20
max-line-length = 105


[MESSAGES CONTROL]
disable =
  fixme,
  try-except-raise,
  redefined-outer-name,
  too-few-public-methods,

  # we need to import outside the toplevel due to code generation
  # and for performance reasons
  import-outside-toplevel,

  # there are false positives for this error, mypy will catch the
  # actual errors, so we can safely disable this error code in pylint
  unsubscriptable-object,

  # using pyright for these now
  unused-import,
  unused-variable,
  not-async-context-manager,

  # useless
  missing-kwoa,

  # this should only trigger for tests and I don't care about duplicating code for tests
  duplicate-code,

  # importing using an alias but without renaming is used to explicitly declare a variable
  # as being re-exported by the module
  useless-import-alias,

  # TODO: re-enable this at some point
  missing-docstring,


[MASTER]
extension-pkg-whitelist =
  pydantic,


[TYPECHECK]
generated-members =
  py.path


[BASIC]
good-names =
  T,
  i,
  j,
  db,
  dt,
  fd,
  to,
  tb,
  Model,


[VARIABLES]
callbacks =
  cb_,
  _cb,
  pytest_,
  plugin,
  _hook,
  mock_,


[SIMILARITIES]
ignore-imports = yes
min-similarity-lines = 6


[REPORTS]
output-format = colorized
