[tool.ruff]
line-length = 120
output-format = "grouped"
target-version = "py37"
select = [
  # isort
  "I",
  # bugbear rules
  "B",
  # remove unused imports
  "F401",
  # bare except statements
  "E722",
  # unused arguments
  "ARG",
  # print statements
  "T201",
  "T203",
  # typing.TYPE_CHECKING misuse
  "TCH004",
  "TCH005",
]
ignore = [
  # mutable defaults
  "B006",
  # function calls in defaults
  "B008",
]
extend-exclude = ["typesafety/**.py"]

[tool.ruff.lint.isort]
length-sort = true
length-sort-straight = true
combine-as-imports = true
extra-standard-library = ["typing_extensions"]
known-first-party = ["prisma", "lib"]

[tool.ruff.format]
quote-style = "single"
docstring-code-format = true

[tool.ruff.per-file-ignores]
"bin/**.py" = ["T201", "T203"]
"tests/**.py" = ["T201", "T203", "ARG"]
"examples/**.py" = ["T201", "T203", "I"]
"databases/**.py" = ["T201", "T203"]
"docs/**.py" = ["T201", "T203"]
"pipelines/**.py" = ["T201", "T203"]

[tool.pyright]
include = [
    "src",
    "tests",
    "scripts",
    "databases",
    "pipelines",
]
ignore = [
    # these are type checked separately
    "databases/tests",
    "databases/sync_tests",
    # TODO: this should not ignore tests/integrations/conftest.py
    "tests/integrations/**/*",
]
pythonVersion = "3.9"

# NOTE: whenever you update any of these values you will most likely also have to update `databases/constants.py::PYRIGHT_CONFIG`
typeCheckingMode = "strict"
reportUnusedImport = true
reportPrivateUsage = false

# TODO: pending some major refactoring, enable this
reportImportCycles = false

# NOTE: these should be periodically enabled and disabled
# they are too stict for general usage as I don't want
# pyright disable comments everywhere and I also don't
# want to have to maintain my own stubs just to mark
# some types as Any, however they can find potential
# holes in our type information.
reportUnknownVariableType = false
reportUnknownMemberType = false
reportUnknownArgumentType = false

# very strict errors
reportUnusedCallResult = false
reportImplicitStringConcatenation = false
reportCallInDefaultInitializer = true
