{% set annotations = true %}
{% include '_header.py.jinja' %}
{% from '_utils.py.jinja' import is_async with context %}
# -- template engine/abstract.py.jinja --

{% if is_async %}

from ._abstract import AsyncAbstractEngine as AbstractEngine

{% else %}

from ._abstract import SyncAbstractEngine as AbstractEngine

{% endif %}

__all__ = ('AbstractEngine',)
