{% include '_pragma.py.jinja' %}
{% from '_utils.py.jinja' import is_async with context %}
# -- template engine/http.py.jinja --

{% if is_async %}
from ._http import AsyncHTTPEngine

HTTPEngine = AsyncHTTPEngine
{% else %}
from ._http import SyncHTTPEngine

HTTPEngine = SyncHTTPEngine
{% endif %}
