{% include '_pragma.py.jinja' %}
{% from '_utils.py.jinja' import is_async with context %}
# -- template engine/query.py.jinja --

{% if is_async %}
from ._query import AsyncQueryEngine

QueryEngine = AsyncQueryEngine
{% else %}
from ._query import SyncQueryEngine

QueryEngine = SyncQueryEngine
{% endif %}
