# TODO: merge with other dev requirements
dirty-equals==0.7.1.post0
distro

-r ../pipelines/requirements/deps/coverage.txt
-r ../pipelines/requirements/deps/pyright.txt
-r ../pipelines/requirements/deps/pytest.txt
-r ../pipelines/requirements/deps/pytest-mock.txt
-r ../pipelines/requirements/deps/pytest-asyncio.txt
-r ../pipelines/requirements/deps/syrupy.txt
