# TODO: merge with other dev requirements
click==8.1.3
coverage==7.1.0
syrupy==3.0.6
dirty-equals==0.5.0

-r ../pipelines/requirements/deps/pyright.txt
-r ../pipelines/requirements/deps/pytest.txt
-r ../pipelines/requirements/deps/pytest-asyncio.txt
