{% extends 'base.html.jinja' %}
{% block title %}
Netflix
{% endblock title %}

{% block others %}
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

{% endblock others %}
{% block content %}


    {% include 'partials/navbar.html.jinja' %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover" style="background-image: url('{{ showcase.thumbnail }}');">
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">
                    {{showcase.title}}
                </h2>
                <p class=" w-11/12 md:w-5/12 font-medium text-white my-4">
                    {{ showcase.description }}...
                    {# % lorem 1 %} #}
                </p>
                <div class="flex my-4">
                    <a href="/movie/play/{{ showcase.id }}">

                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-medium " >
                                Play
                            </span>
                        </button>
                    </a>

                    <a href="/movie/details/{{ showcase.id }}">
                        <button class="ml-4 text-white flex items-center bg-gray-500 bg-opacity-80 py-2 px-5 rounded-md">

                            <ion-icon name="information-circle-outline" class="text-2xl" ></ion-icon>
                            <span class="ml-3 font-medium">
                                More Info
                            </span>
                        </button>

                    </a>

                </div>
            </div>
        </section>
        <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Popular on Netflix
                </h2>
                <div class="flex   items-center min-w-full  movie_lis">
                    {% for movie in movies %}

                        <a href="/movie/details/{{ movie.id }}">
                            <div class=" h-40 m-4  bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer w-40">
                                <img src="{{ movie.thumbnail }}" class="w-full h-full " alt="">
                            </div>

                        </a>
                    {% endfor %}




                </div>
            </div>
        </section>

    </main>
{% endblock content %}
