{% include '_header.py.jinja' %}
# -- template partials.py.jinja --
from pydantic import BaseModel, Field, validator
from . import types, models, fields, enums


{% for name, fields in partial_models.items() %}
class {{ name }}(BaseModel):
    {% for field in fields.values() %}
    {{ field.name }}:
            {%- if field.optional -%}
                {{ ' ' }}Optional[{{ field.type }}]
            {% else -%}
                {{ ' ' }}{{ field.type }}
            {% endif %}
    {% if not field.documentation is none %}
    """{{ format_documentation(field.documentation) }}"""

    {% endif %}
    {% endfor %}

    Config = models.Config

    {# TODO: this should be one validator for all bytes types #}
    {# TODO: this type check feels very hacky #}
    {% for name, field in fields.items() %}
    {% if field.type in ['fields.Base64', 'List[\'fields.Base64\']'] %}
    @validator('{{ name }}', pre=True, allow_reuse=True)
    @classmethod
    def _prisma_{{ name }}_bytes_validator(cls, value: Any) -> Union[fields.Base64, List[fields.Base64]]:
        return fields.Base64._internal_from_prisma(value)
    {% endif %}
    {% endfor %}


{% endfor %}

# users can modify relational types which are then namespaced to partials.
# so we have to import ourselves in order to resolve forward references
from . import partials

{% for name, fields in partial_models.items() %}
{{ name }}.update_forward_refs()
{% endfor %}

# fmt: on

