name: Docs
on:
  push:
    branches:
      - main
    paths-ignore:
      - ".vscode/**"
      - "LICENSE"
  pull_request:
    paths-ignore:
      - ".vscode/**"
      - "LICENSE"
jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install . -r pipelines/requirements/docs.txt

      # this is a basic test to ensure there are no warnings are generated
      # TODO: upload built docs
      - name: Build documentation
        run: |
          make docs

      - name: Ensure no changes
        run: |
          git diff --exit-code
