name: Query Engine
# TODO: on: workflow_dispatch
on:
  push:
    branches:
      - main
  pull_request:
    # TODO: this should run for every pr
    branches:
      - main
      - feat/rust-bindings
      - ci/cibuildwheel

jobs:
  build-query-engine:
    name: Build Query Engine wheels on ${{ matrix.os }}/${{ matrix.vers }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - vers: i686
            os: ubuntu-20.04
          # TODO: test this
          # aarch64 seems to be stuck
          # - vers: aarch64
          #   os: ubuntu-20.04
          - vers: auto64
            os: ubuntu-20.04
          - vers: arm64
            os: macos-10.15
          - vers: auto64
            os: macos-10.15
          - vers: auto64
            os: windows-2019
    env:
      # SCCACHE_VERSION: 0.2.13
      CIBW_BEFORE_ALL_LINUX: "curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain stable -y"
      CIBW_BEFORE_ALL_MACOS: "rustup target add aarch64-apple-darwin x86_64-apple-darwin"
      CIBW_BEFORE_ALL_WINDOWS: "rustup target add x86_64-pc-windows-msvc i686-pc-windows-msvc"
      CIBW_ENVIRONMENT: 'PATH="$PATH:$HOME/.cargo/bin"'
      # TODO: verify this
      CIBW_SKIP: "cp27-* cp34-* cp35-* pp* *-win32 *-win_arm64 *-musllinux_*"
      CIBW_ARCHS: ${{ matrix.vers }}
      CIBW_BUILD_VERBOSITY: 1
      working-directory: ./src/query-engine

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install --upgrade --upgrade-strategy eager wheel setuptools maturin

    - name: Build wheels
      uses: pypa/cibuildwheel@v2.3.1
      with:
        working-directory: ${{ env.working-directory }}

    - name: Upload wheels
      uses: actions/upload-artifact@v2
      with:
        path: wheelhouse/*.whl
        name: wheels
