name: Query Engine
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - feat/rust-bindings
      - ci/rust-lint

env:
  SRC_DIR: ./src/query-engine

jobs:
  lint:
    name: Check linters
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions-rs/toolchain@v1
        with:
            profile: minimal
            toolchain: stable
            components: rustfmt
            override: true

      - name: Check rustfmt
        working-directory: ${{ env.SRC_DIR }}
        run: |
          cargo fmt --all -- --check

      - name: Check clippy
        working-directory: ${{ env.SRC_DIR }}
        run: |
          cargo clippy --all -- --check
